<!--The content below is only a placeholder and can be replaced.-->
<div id="content" style="text-align:center">
  
  <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Register</h1>
  <form>
  <table class="body">
  
 <tr>
   <td>Full name<br><input type="text"></td>
   <td>Date of Birth<br><input type="date"></td>
 </tr>
 
 <tr>
   <td>Email Address<br><input type="email"></td>
   <td>Phone Number<br><input type="tel"></td>
 </tr>
 
 
 <tr>
   <td>Password<br><input type="password"></td>
   <td>Tell us about yourself<br><textarea rows="3" cols="15"></textarea></td>
 </tr>
 <tr>
   <td><select name="cities"><option value="Telangana">Telangana</option>
    <option value="Visakhapatnam">Visakhapatnam</option>
    <option value="Banglore">Banglore</option>
  </select></td>
   <td><input type="radio" name="gender" value="male" > Male
    <input type="radio" name="gender" value="female"> Female<br></td>
 </tr><br>


 <tr>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="I want to receive email about updates to website">I want to receive email about updates to website
  </tr><br></table>
 
   
    <button type="button">Register</button>
    </form>
   



  




  </div>
 

<router-outlet></router-outlet>
